@charset "ISO-8859-1";

.comment_container, #comment_form {
	
	position: relative;
	margin: 0.75em 3%;
	padding: 4% 3%;
	border-style: none;
	border-radius: 1em;
	background-color: orange;
	
}

#comment_form {
	
	background-color: #e3b788;
	font-family: Druk Wide, HelveticaNow, Arial,sans-serif;
	font-weight: bold;
	display: block;
	
}

#content_input {
	
	border-radius: 1em;
	min-height: 2.25em;
	width: 90%;
	margin: 4px;
	margin-bottom: 1.5em;
	padding-left: 1em;
	font-family: Poppins, HelveticaNow, Arial,sans-serif;
	background-color: #f9e076;
}

.comment_user {
	
	font-family: Druk Wide, HelveticaNow, Arial,sans-serif;
	font-weight: bold;
	margin-bottom: 0.25em;
}

.comment_date {
	
	font-style: oblique;
	font-size: small;
}

.comment_content {
	
	margin-bottom: 2em;
}

.delete_comment, #submit_comment {
	
	position: absolute;
	right: 1em;
	bottom: 1em;
	min-width: 100px;
}