@charset "ISO-8859-1";


.lesson > h1 {
	
	font-weight: bold;
	font-size: 1.5em;
	margin-left: 18%;
	
}

.lesson > p {
	
	margin: 0em 18%;
	padding: 1em;
	background-color: #c28832;
	color: orange;
	font-weight: 500;
}

img#course_logo {
	
	max-width: 20%;
	height: auto;
}