@charset "ISO-8859-1";




.invalid {
	
	border: 2px solid red;
}

form {
	
	max-height:95%;
}
fieldset {
	  max-height: 95%;
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15% 5%;
  margin: 5% 20%;
  border: 1px solid #ccc;
  background-image: url("../images/accessForm.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 1em;

  
}

fieldset#product_fieldset {
	
	padding: 10% 0%;
	margin: 5% 10%;
}

.product_logo {
	
	
	height: 100px;
	width: auto;
}

legend {
	
	
	font-size: large;
	font-variant: small-caps;
	font-family: Druk Wide, HelveticaNow, Arial,sans-serif;
}

input, textarea, select {
	
	border-radius: 1em;
	min-height: 2.25em;
	width: 80%;
	margin: 4px;
	padding-left: 1em;
	font-family: Poppins, HelveticaNow, Arial,sans-serif;
	background-color: rgb(253,217,203);
}

label {
	
	margin-top: 10px;
}
