@charset "ISO-8859-1";


.course_container {
	
	
	margin: 3%;
	border-radius: 1em;
	background-color: #E59F27;
	vertical-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
}

.course_logo {
	
	max-height: 64px;
	width: auto;
	padding: 3% 10%;
	
}

.course_name {
	
	font-family: Druk Wide, HelveticaNow, Arial,sans-serif;
	font-size: 200%;
	font-weight: bold;
	color: black;
	text-decoration: none;
	margin-left: 10%;
}