@charset "ISO-8859-1";

h1 {
	text-align: center;
	font-weight: bolder;
	color: #FF5900;
	text-shadow: 2px 2px black;
	font-size: 40px;
	font-family: fantasy;
}

.product_container {
	
	display: grid;
	grid-template-columns: 33% 33% 33%;
	place-content: center;
}
div.product_block {
	
	height: 240px;
	width: inherit;
	margin: 0.75em;
	padding: 2px;
	border-color: #674F41;
	border-style: inset;
	border-radius: 0.5em;
	position: relative;
	
}

.product_logo {
	
	max-width: 80%;
	max-height: 30%;
	margin: 3px 2px;
	
}

.product_name {
	
	font-weight: bold;
	font-size: large;
	margin: 3px 2px;
}

.product_description {
	
	font-size: small;
	margin: 3px;
}

.product_price {
	
	font-weight: bolder;
	font-size: x-large;
	position: absolute;
	bottom: 2px;
	left: 2px;
}

.product_button {
	
	min-width: 25%;
	height: auto;
	position: absolute; 
	bottom: 2px;
	right: 2px;
	
}

@media screen and (max-width: 768px) {
	
	.product_container {
		grid-template-columns: 45% 45%;
		
	}
	
	body:has(aside:hover) .product_container {

		grid-template-columns: 70%;
	}
	
}

@media screen and (max-width: 540px) {
	
	.product_container {
		grid-template-columns: 90%;
		
	}
	

	body:has(aside:hover) h1, h2 {

		font-size: clamp(1em, 5vw, 2em);
	}

	body:has(aside:hover) .main_section {

		min-width: 10%;
	}
	
	.product_price {
		font-size: medium;
	}
}



